﻿@{
    Layout = null;//override the default layout that will setup the main menu for each page
}


<!DOCTYPE html>
<html ng-app="bssbiointegrationApp">
<head>
    <meta charset="utf-8" />
    <title>BSS Biometrics Integration</title>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>

    <script src="~/Scripts/app/Services/bioServices.js"></script>
    <script src="~/Scripts/app/Controllers/bioController.js"></script>

</head>
<body ng-cloak>
    <div class="wrapper wrapper-content animated fadeInDownBig">
        <div class="row" data-ng-controller="bioController">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-0">
                            <div data-ng-show="alertMode" class="alert alert-info"><label>{{DisplayMessage}}</label></div>
                        </div>
                    </div>
                    <form name="searchBSSCustomer">
                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="form-group"><label>ID Number*</label></div>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span><input type="text" data-ng-model="IdNumber" class="form-control" required="" focus-me="{{searchMode}}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"><label>Fingerprint Image*</label> </div>
                            <div class="input-group date">
                                <img id="fingerprint" alt="" height="336" width="258" class="photo" data-ng-model="FingerPrintImage" required="" ng-src="data:image/JPEG;base64,{{ImageData}}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"><label>Image Quality</label></div>
                            <div class="progress">
                                <div style="width: {{ImageQuality}}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-success">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-0">
                                <br />
                                <button data-ng-click="capturePrint()" href="javascript:;" class="btn btn-primary" type="submit">Capture Fingerprint</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </form>

                    <form name="searchResults" data-ng-show="resultMode" class="cssSlideUp">

                        <div class="col-sm-6 col-sm-offset-0">
                            <div class="form-group"><label>Customer Names*</label></div>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-user-plus"></i></span><input type="text" disabled data-ng-model="CustomerNames" class="form-control" required="" focus-me="{{addMode}}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"><label>Account Details*</label> </div>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span><input type="text" disabled data-ng-model="AccountDetails" required="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-0">
                            <br />
                            <div class="form-group"><label>Address*</label></div>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-home"></i></span><input type="text" disabled data-ng-model="Address" class="form-control" required="" ">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <br />
                            <div class="form-group"><label>Phone Number*</label> </div>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span><input type="text" disabled data-ng-model="PhoneNumber" required="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-0">
                                <br />
                                <button class="btn btn-primary" data-ng-click="save()" type="submit">Proceed</button>
                                <button class="btn btn-white" data-ng-click="toggleResultMode()" type="button">Cancel</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>